body{
    font-family: 'Poppins','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: 0;
}
header{
    margin:32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    font-weight: 300;
}

.links ul{
    display: flex;
    list-style: none;
}


ul a{
    text-decoration: none;
    margin:0px 8px;
    color:black;
    font-size:18px;
}

.links .active{
    border-bottom:1px black solid
}
.gallery{
    padding: 15px;
    display: flex;
    flex-wrap: wrap;
}

.card{
    width: 49%;
    padding:16px;
    box-sizing: border-box;
}

.card img{
    width: 100%;
    height: 500px;
    object-fit: cover;
}

.card h2{
    font-weight: 300;
    margin: 2px;
}

.why{
    width: 50%;
    margin:100px 200px;
}

.banner{
    font-weight: 200;
    font-style: italic;
}

.message{
    font-weight: 500;
    color:red;
    font-style: italic;
    font-size:2em;
    border-bottom: 1px black solid;
}

.contact p{
    margin:0;
}


.bar1, .bar2, .bar3{
    width: 36px;
    height: 5px;
    border-radius: 10px;
    background-color: black;
    margin:3px;
}

.navbar .hamburger{
    display: none;
}

@media screen and (max-width:480px){
    .card{
        width: 99%;
    }
    .why{
        margin:100px 100px;
    }
    .navbar .hamburger{
        display:block;
        z-index: 1;
    }
    .navbar .links{
        display: none;
    }
    .navbar h1{
        font-size:15px;
    }
}

.baranim1{
    animation: 1s animationBar1;
    animation-fill-mode: forwards;
}

.baranim2{
    animation: 1s animationBar2;
    animation-fill-mode: forwards;
}

.baranim3{
    animation: 1s animationBar3;
    animation-fill-mode: forwards;
}

@keyframes animationBar1{
    from{
        transform: rotate(0deg) translate(0px,0px);
    }
    to{
        transform: rotate(45deg) translate(4px,6px);
    }
}

@keyframes animationBar2{
    from{
        transform: scale(1);
    }
    to{
        transform: scale(0);
    }
}

@keyframes animationBar3{
    from{
        transform: rotate(0deg) translate(0px,0px);
    }
    to{
        transform: rotate(-45deg) translate(4px,-6px);
    }
}

.hamburgerNav{
    padding: 0px 4px;
    position: fixed;
    background-color: white;
    top:0;
    right:-120px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100vh;
    flex-direction: column;
    transition: transform 1s;
}


.hamburgerNav a{
    color:black;
    text-decoration: none;
    margin:5px 0px;
}

.openSideBar{
    transform: translateX(-120px);
}